<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse"></div>
    </div>
</nav>
<br/>

<div id="page-wrapper">
	<h1 class="page-header">Trap</h1>
	<div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Ahh! Your request is trapped... Click on the REQUESTS to Track the requests.
            </div>
            <div class="panel-body">
                <p class="lead"></p>
                 <p class="lead">Track <a href="/<%=DEFAULT_URL%>/<%=params[:id]%>/requests">REQUESTS.</a></p>
            </div>
        </div>
    </div>
</div>    
