<!DOCTYPE html>
<html>
<head>
  <title>Yelp Api Integration</title>
  <%= stylesheet_link_tag 'application','bootstrap.min.css','bootstrap-datepicker.css', media: 'all' %>
  <%= javascript_include_tag 'application', 'bootstrap-datepicker','data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
