<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse"></div>
    </div>
</nav>
<br/>

<div id="page-wrapper">
	<h1 class="page-header">ERROR</h1>
	<div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Error
            </div>
            <div class="panel-body">
           		<div class="alert alert-danger">
                    <%=flash[:error]%>
                </div>
            </div>
        </div>
    </div>   
</div>